GITHUB_KEY=

; UID and GID Your Unix system
DCUID=
DCGID=

MAIN_DOMAIN=
REST_DOMAIN=
BACKEND_DOMAIN=

; If needed
DESIGN_REPO_URL=

; variables for client's server deploy
DEPLOY_DOMAIN=
DEPLOY_USER=
DEPLOY_PORT=
DEPLOY_KEY_PATH=
DEPLOY_PATH=


DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
DB_ROOT_PASSWORD=
DB_TEST_HOST=
DB_TEST_NAME=
DB_TEST_PORT=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

CENTRIFUGO_HOST=
CENTRIFUGO_WEB_SOCKET=
CENTRIFUGO_SECRET=

XDEBUG_HOST=

;-------------------------
; Sentry
; You can use dns from http://sentry.gbksoft.net/
; until the sentry.io client account will be provided
; see https://sentry.io/settings/gbksoft-b9/projects/gbksoft-b9/keys/ as an example
;-------------------------
SENTRY_DNS=https://e5c9........9@sentry.gbksoft.net/27
SENTRY_LOG_ENABLED="true"