<IfModule mod_autoindex.c>
    # Disable Indexes
    Options -Indexes
    IndexIgnore */*
</IfModule>
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # For HTTP(s)
    RewriteCond %{HTTP_HOST} {{MAIN_DOMAIN}}$ [NC] # MAIN_DOMAIN - variable from env
    RewriteCond %{HTTPS} !=on
    RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

    # For version file
    RewriteRule ^version\.txt$ version.txt [L,PT]

    #Swagger
    RewriteCond %{REQUEST_URI} !^/swagger/dist/? [NC]
    RewriteRule ^swagger/?(.*)$ /swagger/dist/$1 [L]

    # Backend
    RewriteRule ^backend/?(.*)$ /backend/web/$1 [L]

    # API
    RewriteRule ^rest/?(.*)$ /rest/web/$1 [L]

    # Frontend
    RewriteCond %{REQUEST_URI} !^/swagger/? [NC] #For Swagger
    RewriteRule ^/?(.*)$ /frontend/web/$1 [L]
</IfModule>
