.wrapper {
  .content-header > .breadcrumb > li + li:before {
    color: #292929;
    content: '/';
  }

  .content-header > .breadcrumb > li > a {
    color: #292929;
    font-size: 13px;
    line-height: 19px;
  }

  .breadcrumb > .active {
    color: #bababa;
    font-size: 13px;
    line-height: 19px;
  }
}